spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: postgres
    password: postgres
  sql:
    init:
      mode: always
  jpa:
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: create-drop        # or validate / create-drop
    show-sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG                       # SQL statements
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # parameter values
    org.springframework.jdbc.core: DEBUG             # JdbcTemplate / JDBC-level l