server:
    port: 8081


spring:
  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false
      indent-output: true
      fail-on-empty-beans: false
    deserialization:
      fail-on-unknown-properties: false